@charset "utf-8";
@font-face {
    font-family: 1;
    src: url('fonts/tt-commons-cufonfonts/TT\ Commons\ Bold.otf');
}
@font-face {
    font-family: 2;
    src: url('fonts/tt-commons-cufonfonts/TT\ Commons\ Bold\ Italic.otf');
}
@font-face {
    font-family: 3;
    src: url('fonts/tt-commons-cufonfonts/TT\ Commons\ Bold\ Italic.otf');
}
@font-face {
    font-family: 4;
    src: url('fonts/tt-commons-cufonfonts/TT\ Commons\ ExtraBold.otf');
}
@font-face {
    font-family: 5;
    src: url('fonts/tt-commons-cufonfonts/TT\ Commons\ ExtraLight.otf');
}
@font-face {
    font-family: Medium;
    src: url('fonts/tt-commons-cufonfonts/TT\ Commons\ Medium.otf');
}
@font-face {
    font-family: 7;
    src: url('fonts/tt-commons-cufonfonts/TT\ Commons\ Regular.otf');
}

@font-face {
    font-family: DemiBold;
    src: url(fonts/tt-commons-cufonfonts/TT\ Commons\ DemiBold.otf);
}

/* Обнуление */
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
ul,
ol,
li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
html,
body {
	height: 100%;
	line-height: 1;
	background: #fff;
	font-size: 14px;
	color: #000;
	font-weight: 500;
    font-family: 'MuseoModerno', cursive;
     font-family:'DemiBold', sans-serif; 
    font-family: 'Medium', sans-serif;
}
/* -------------------------------------------------------------------- */
.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
/* ------------------------------------------------------------------------ */
._container {
	max-width: 1280px;
	padding: 0px 10px;
	margin: 0px auto;
	box-sizing: content-box;
}
._ibg {

}

.page {
	flex: 1 1 auto;
}
/* -----------HEADER------------------------------------------------------------ */
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}
.header:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0e1039;
    z-index: 2;
}
.header__body {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 75px;
    align-items: center;
}
.header__logo {
    position: relative;
    z-index: 3;
}
.header__logo img{
    max-width: 200px;
    display: block;
}
@media (max-width:500px){
	.header__body{
        height: 50px;
    }
}
.header__contact{
    display: flex;
    z-index: 5;
    position: relative;
    align-items: center;
}

.contact__link__inst{
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    line-height: 143%;
    margin: 0 34px 0 34px;
}
.contact__link__telephone{
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    line-height: 143%;
    margin: 0 34px 0 34px;
}
.contact__link__mail{
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    line-height: 143%;
    margin: 0 34px 0 34px;
}
.contact__link__inst::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #ffffff;
    box-shadow: 0px 0px 20px 7px rgb(127 197 255 / 20%);
    animation: sbs-anim-rec86233848-1549306178741 2s infinite linear;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: sbs-anim-rec86233848-1549306178741;
    backface-visibility: hidden; 
}

@media (max-width: 1120px) {
    .contact__link__telephone{
        margin: 0 14px 0 14px;
    }
    .contact__link__mail{
        margin: 0 14px 0 14px;
    }
    .contact__link__inst{
        margin: 0 14px 0 29px;
    } 
}
@media (max-width: 992px) {
    .contact__link__mail{
     display: none;
    }
    .header__logo img{
        max-width: 150px;
    }
}
@media (max-width: 767px) {
    .contact__link__inst{
        display: none;

    }
}
.header__button {
	display: flex;
    z-index: 5;
    position: relative;
}
.button{
    text-decoration: none;
    cursor: pointer;
    display: block;
    width: 250px;
    padding: 10px 30px;
    margin: 10px auto 10px auto;
    position: relative;
    overflow: hidden;
    border: 2px solid #6bb7ff;
    border-radius: 60px;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    transition: .2s ease-in-out;
    font-size: 16px;
    font-weight: 500;
    background-color:#1d173b;
    box-shadow: 0px 2px 20px 0px rgb(92 168 255 / 30%);
}
.button:before {
    content: "";
    background: linear-gradient(90deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .5));
    height: 50px;
    width: 50px;
    position: absolute;
    top: -8px;
    left: -75px;
    transform: skewX(-45deg);
  }
  .button:hover {
    background: #6bb7ff;
    color: #1E1E20;
  }
  .button:hover:before {
    left: 150px;
    transition: .5s ease-in-out;
  }

@media (max-width: 490px) {
    .button{
        width: 135px;
        padding: 4px 20px;
        margin: 10px auto 10px auto;
    }
}
@media (max-width: 767px) {
    .header__button{
        display: none;
    }
}
@media (max-width: 500px) {
    .header__logo img{
        max-width: 110px;
    }
    .contact__link__telephone{
        font-size: 17px;
        margin: 0;
    }
}
/* ----------------------------MAIN__BLOCK------------------------------------------------ */

.main-block {
    background-color: rgba(29,23,59);
    background: linear-gradient(190.83deg, #0e1039 64.37%, #1A9BD2 138%);
    height: 100vh;
}
.main-block__body {
	display: flex;
    align-items:center;
	justify-content: space-between;
    padding: 170px 0px 120px 0px;
}
.main-block__foto__right{
    max-width: 450px;
}

@media (max-width: 992px) {
    .main-block__foto__right{
        max-width: 300px;
    }
}
.main-block__title {
    text-align: left;
    font-size: 28px;
    font-weight: 700;
    line-height: 137%;
    letter-spacing: 0.2px;
    margin-bottom: 5px;
    color: #fff;
    text-shadow: #6bb7ff 1px 0 10px;
    font-family:'DemiBold', sans-serif; 
}

.promo__subtitle{
    font-weight: 700;
    text-align: left;   
    font-size: 20px;
    color: #fcdb00;
    margin-bottom: 10px;
    }


@media (max-width: 500px) {
.main-block__title {
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    line-height: 188%;
    letter-spacing: 1.7px;
    margin-bottom: 30px;
    color: #fff;
    text-shadow: #6bb7ff 1px 0 10px;
    font-family:'DemiBold', sans-serif;
                }
    }



.promo__box{
    background: url(../img/MAIN/present_bonus_icon-icons.com_53587.png) 0 1px no-repeat;
    margin: 25px 0px 55px 0px;
    padding: 8px 0px 0px 55px;
  }


  @media (max-width: 500px) {
    .promo__box {
      display: none;
                    }
        }


.main-block__button{
    text-decoration: none;
    cursor: pointer;
    display: block;
    width: 310px;
    padding: 15px 30px;
    margin: auto 0px auto;
    position: relative;
    overflow: hidden;
    border: 2px solid #03f9ff;
    border-radius: 38px;
    /* font-family: 'Montserrat', sans-serif; */
    color: #fff;
    transition: .2s ease-in-out;
    font-size: 18px;
    font-weight: 700;
    line-height: 137%;
    letter-spacing: 0.2px;
    background-color: #1d173b;
    box-shadow: 0px 2px 20px 0px #6bb7ff;
}

.main-block__button:hover {
    background: #6bb7ff;
    color: #000;
    transition: 0.9s;
  }

  @media (max-width: 767px) {
    .main-block__foto__right{
        max-width: 200px;
    }
    .main-block__title {
        font-size: 24px;
    }
    .promo__subtitle{  
        font-size: 16px; 
    }
    .main-block__button{
        text-decoration: none;
        cursor: pointer;
        display: block;
        width: 270px;
        padding: 4px 30px;
        margin: auto 0px auto;
        position: relative;
        overflow: hidden;
        border: 2px solid #03f9ff;
        border-radius: 38px;
        font-family: 'Montserrat', sans-serif;
        color: #fff;
        transition: .2s ease-in-out;
        font-size: 17px;
        font-weight: 700;
        line-height: 137%;
        letter-spacing: 0.2px;
        background-color: #1d173b;
        box-shadow: 0px 2px 20px 0px #6bb7ff;
    }
}


@media (max-width: 500px) {
    .main-block__button{
        margin: 50px auto;
    } 
}

@media (max-width: 500px) {
    .main-block__foto__right{
        max-width: 125px;
    }
    .main-block__foto{
        margin: auto;
    }
    .main-block__body{
     flex-wrap: wrap-reverse;
     padding: 50px 0px 70px 0px;
    }
    .main-block__cart{
        margin-top: 30px;
    }
    .main-block__title {
        font-size: 22px;
    }
    .promo__box{
        margin: 25px 0px 43px 0px;
      }
}



@media (max-height: 500px) {

    .main-block__body {
        display: flex;
        align-items:center;
        justify-content: space-between;
        padding: 75px 0px 0px 0px;
    }

    .main-block__title {
        font-size: 14px; 
    }

    .promo__subtitle{
        font-weight: 700;
        text-align: left;   
        font-size: 12px;
        color: #fcdb00;
        margin-bottom: 10px;
        }

        .promo__box{
            margin: 15px 0px 35px 0px;
          }
          .main-block__foto__right{
            max-width: 150px;
        }
        .main-block__button{
            font-size: 11px;
        }
        .contact__link__inst{
            font-size: 12px;
        }
}

/* ----------------Modal__1------------------------------ */

.pop_up {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 3;
    transform: translateY(-44.5%) scale(0);
    transition: 0.4s ease-in-out;
}

.pop_up.active {
    transform: translateY(0%) scale(100%);
    background-color: rgba(0, 0, 0, 0.8);
   
}


.pop_up_container {
    display: flex;
    width: 100%;
    height: 100%;
}
.pop_up_body {
    margin: auto;
    width: 500px;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    padding: 100px 15px 110px 15px;
    position: relative;

}

.pop_up_body p{
    font-size: 28px;
    font-family: serif;
    font-weight: 600;
    color: #22262D;
    margin-bottom: 40px;
}
.pop_up_body input{
    box-shadow: 0 0 15px #22262d;
    display: block;
    margin: 25px auto 0px auto;
    width: 330px;
    padding: 17px 20px;
    background-color: #E5E5E5;
    border-radius: 10px;
    border: none;
    font-family: serif;
    font-weight: 500;
    font-size: 18px;
    color: #89909F;
   
}
.pop_up_body button{
    text-decoration: none;
    cursor: pointer;
    display: block;
    width: 330px;
    padding: 17px 30px;
    margin: 20px auto 10px auto;
    position: relative;
    overflow: hidden;
    border: 2px solid #6bb7ff;
    border-radius: 60px;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    transition: .2s ease-in-out;
    font-size: 14px;
    font-weight: 500;
    background-color:#1d173b;
    box-shadow: 0px 2px 20px 0px #6bb7ff;
}

.pop_up_body button:before {
    content: "";
    background: linear-gradient(90deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .5));
    height: 50px;
    width: 50px;
    position: absolute;
    top: -8px;
    left: -75px;
    transform: skewX(-45deg);
  }

.pop_up_close{
    position: absolute;
    top: 55px;
    right: 30px;
    font-size: 21px;
    cursor: pointer;
}

.pop_up_body textarea{
    display: block;
    margin: 25px auto 0px auto;
    width: 330px;
    padding: 17px 20px;
    background-color: #E5E5E5;
    border: none;
    color: #89909F;
    font-weight: 500;
    font-size: 18px;
}
@media screen and (max-width: 770px){
    .pop_up_body{
            margin: auto;
            width: 300px;
            background-color: #fff;
            text-align: center;
            padding: 80px 15px 80px 15px;
            position: relative;
    }
    .pop_up_body input{
        box-shadow: 0 0 15px #22262d;
        display: block;
        margin: 25px auto 0px auto;
        width: 250px;
        padding: 10px 10px;
        background-color: #E5E5E5;
        border: none;
        font-family: serif;
        font-weight: 200;
        font-size: 14px;
        color: #89909F;
    }
    .pop_up_body input:focus{
        outline: none;
    }


	.pop_up_body textarea{
		display: block;
		margin: 25px auto 0px auto;
		width: 250px;
		padding: 17px 20px;
		background-color: #E5E5E5;
		border-radius: 10px;
		border: none;
		font-family: serif;
		font-weight: 500;
		font-size: 18px;
		color: #89909F;
	}
    
    .pop_up_body button{
    text-decoration: none;
    cursor: pointer;
    display: block;
    width: 250px;
    padding: 17px 30px;
    margin: 20px auto 10px auto;
    position: relative;
    overflow: hidden;
    border: 2px solid #6bb7ff;
    border-radius: 60px;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    transition: .2s ease-in-out;
    font-size: 14px;
    font-weight: 500;
    background-color:#1d173b;
    box-shadow: 0px 2px 20px 0px #6bb7ff;
     
    }
    
    .pop_up_close{
        position: absolute;
        top: 15px;
        right: 15px;
        font-size: 21px;
        cursor: pointer;
    }
}


/*-----------------------Clients__Section-------------------- */


/* .clients{
    padding-top: 35px;
}

.clients__body{
    text-align: center; 
}

.clients__img{
    max-width: 950px;
}

@media (max-width: 500px) {
 
.clients__img{
    max-width: 310px;
}
}

.clients__subtitle{
    text-align: center;
    font-size: 38px;
    font-weight: 700;
    line-height: 137%;
    letter-spacing: 0.2px;
    margin-bottom: 25px;
    color: #0f113b;
    text-shadow: #6bb7ff 1px 0 10px;
    font-family:'DemiBold', sans-serif;
}


@media (max-width: 500px) {
    .clients__subtitle{
        font-size: 28px;
    }
    .clients{
        padding-top: 25px;
    }
} */
  
/*------------------Number-experts----------------------------------------- */

.experts {
    background-color: #fafbfd;
    padding: 70px 0px 70px 0px;
  }

  .experts__title{
    text-align: center;
    font-size: 38px;
    font-weight: 700;
    line-height: 137%;
    letter-spacing: 0.2px;
    margin-bottom: 75px;
    color: #0f113b;
    /* text-shadow: #6bb7ff 1px 0 10px; */
    font-family: 'DemiBold', sans-serif
  }

  .experts__block-text {
    max-width: 400px;
  }
  .experts__container {
  }
  .experts__statistics {
    
  }
  .statistics-experts {
    max-width: 800px;
    margin: 0px auto;
    position: relative;
  }

  .experts__body{
display: flex;
align-items: center;
  }
  .experts__content{
flex: 0 1 50%;
padding: 0px 20px 0px 0px;
  }
  .experts__video{
    flex: 0 1 50%;
    padding: 0px 0px 30% 0px;
    position: relative;
    box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
    border-radius: 8px;
    overflow: hidden;
  }
  .experts__video iframe{
position: absolute;
width: 100%;
height: 100%;
top: 0;
left: 0;
object-fit: cover;
  }

  @media (max-width: 767.98px) {
   .experts{
     padding: 80px 0px 30px 0px;
   }
   
    .experts__body{
      flex-direction: column;
      align-items: stretch;
        }
        .experts__video{
          padding: 0px 0px 58% 0px;
        } 
        .experts__content {
          padding: 0;
          margin: 0px 0px 30px 0px;
        }
  }




  .statistics-experts__body {
    background-color: #fff;
    box-shadow: 0px 2px 24px rgba(88, 126, 236, 0.15);
    border-radius: 16px;
    position: relative;
    z-index: 2;
    margin: 0px 0px 80px 0px;
  }
  
  .statistics-experts__decor {
    position: absolute;
    background-color: #144d7c;
    border-radius: 30px;
  }
  .statistics-experts__decor_1 {
    width: 65px;
    height: 65px;
    transform: rotate(-30deg);
    bottom: -21px;
    left: -21px;
    border-radius: 16px;
  }
  .statistics-experts__decor_2 {
    width: 97px;
    height: 97px;
    right: 50%;
    top: -40px;
    transform: rotate(30deg);
  }
  .statistics-experts__decor_3 {
    width: 128px;
    height: 128px;
    right: -55px;
    top: 0px;
    transform: rotate(-30deg);
  }

  .body-statistics-experts {
    padding: 20px 80px;
    display: flex;  
    align-items: center;
  }
  .body-statistics-experts__item {
    flex: 0 1 25%;
    text-align: center;
    margin-bottom: 25px;
  }
  .body-statistics-experts__item:last-child {
    flex: 0 1 25.0%;
  }
  .body-statistics-experts__value {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 1px;
    color: #144d7c;
    margin-bottom: 5px;
  }
  .body-statistics-experts__text {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.8;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #144d7c;
  }


  @media (max-width: 767.98px){
    .statistics-experts__body{
      margin: 0px 0px 50px 0px;
    }
    .body-statistics-experts{
      padding: 25px;
    }
  }

  @media (max-width: 500px){
    .body-statistics-experts{
      flex-direction: column;
    }
    .body-statistics-experts__item:not(:last-chold) {
      margin: 0px 0px 15px 0px;
    }
    .body-statistics-experts__item {
        flex: 0 1 100%;
      }
  }

  
/* -------Service----------------------------- */

.page__modal {
    /* margin-top: 50px; */
    /* margin-bottom: 30px; */
    padding-top: 30px;
    padding-bottom: 50px;
    background: linear-gradient(190.83deg, #0e1039 64.37%, #1A9BD2 138%);
}
@media (max-width:500px){
	.page__modal {
        /* margin-bottom: 55px; */
    }
}

.page__modal__container {
}
._container {
}
.modal__title {
}
.main-block__title {
}
.modal__body {
    display: flex;
    flex-wrap: wrap;
}
.modal__item {
    flex: 1 1 31.4%;
    margin: 10px;
    border: 2px #fff solid;
    border-radius: 38px;
    overflow: hidden;
    padding: 8px;
    box-shadow: rgb(107 183 255) 0px 2px 20px 0px;
    }

    @media (max-width:897px){
        .modal__item {
            flex: 1 1 34%;
        }
    }
    @media (max-width:625px){
        .modal__item {
            flex: 1 1 50%;
        }
    }

@media (max-width:500px){
	.modal__item {
        flex: 1 1 50%;
    }
}

.imlog {
    text-align: center;
    transition: transform .5s;
}


.imlog:hover{
    transform: translateY(-7px);
}

.treeimg {
    border-radius: 22px;
}

@media (max-width:500px){
	.modal__item {
        flex: 1 1 50%;
    }
    .treeimg {
        max-width: 90%;
    }
}
.modal__subtitle {
    font-size: 24px;
	font-weight:700;
	text-align: center;
    margin: 20px;
    color: #fff;
}
.modal__text {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}

@media (max-width:470px){
	.modal__subtitle {
        font-size: 20px;
    }
}



.main-block__title__ex{
    text-align: center;
    font-size: 38px;
    font-weight: 700;
    line-height: 137%;
    letter-spacing: 0.2px;
    margin-bottom: 25px;
    color: #fff;
    text-shadow: #6bb7ff 1px 0 10px;
    font-family:'DemiBold', sans-serif;
}

@media (max-width:500px){
	.main-block__title__ex {
        font-size: 26px;
    }
}

@media (max-width:767px){
	.img__pop__up__att{
        max-width: 90%;
    }
}

/* ----Section__Video------------- */

.section__video {
    padding-top: 35px;
    padding-bottom: 35px;
    background: #fff;
}
.title__video {
    text-align: center;
    font-size: 38px;
    font-weight: 700;
    line-height: 137%;
    letter-spacing: 0.2px;
    margin-bottom: 25px;
    color: #0f113b;
    /* text-shadow: #6bb7ff 1px 0 10px; */
    font-family:'DemiBold', sans-serif;   
}
@media (max-width:500px){
	.title__video {
        font-size: 26px;   
    }
}

.video__row {
    display: flex;
}
.video__main {
          flex: 1 1 50%;
}
.video {
    width: 100%;
	
  border-radius: 22px;
}
.video__content {
    padding: 0 0px 0 30px;
    flex: 1 1 50%;
}
.video__subtitle {
    font-size: 1.7rem;
    color: var(--black);
    margin-bottom: 15px;

    line-height: 134%;
    letter-spacing: 1.2px;
}

@media (max-width:767px){
	.video__row {
        flex-wrap: wrap;
    }
    .video__main {
        flex: 1 1 100%;
        margin-bottom: 20px;
}
}




.video__li{
    background: url(../img/MAIN/checkmark_icon-icons.com_50429.png) 0px 1px no-repeat;
    margin: 15px 0px 15px;
    padding: 0px 0px 0px 35px;
    font-size: 1.2rem;
    color: rgb(103, 99, 99);
    line-height: 2;


    line-height: 210%;
    letter-spacing: 1.2px;

}

.btn {
    text-decoration: none;
    cursor: pointer;
    display: block;
    width: 270px;
    padding: 17px 30px;
    margin-right: auto;
    margin-top: 10px;
    position: relative;
    overflow: hidden;
    border: 2px solid rgb(3, 249, 255);
    border-radius: 38px;
    font-family: Montserrat, sans-serif;
    color: rgb(255, 255, 255);
    transition: all 0.2s ease-in-out 0s;
    font-size: 16px;
    font-weight: 700;
    background-color: rgb(29, 23, 59);
    box-shadow: rgb(107 183 255) 0px 2px 20px 0px;
  }
  
  .btn:before {
    content: "";
    background: linear-gradient(90deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .5));
    height: 50px;
    width: 50px;
    position: absolute;
    top: -8px;
    left: -75px;
    transform: skewX(-45deg);
  }
  .btn:hover {
    background: #6bb7ff;
    color: #1E1E20;
  }
  .btn:hover:before {
    left: 150px;
    transition: .5s ease-in-out;
  }
/* --------Project----------------------------- */
.projects {
    background: #0f103a;
    padding-top: 30px;
    background: linear-gradient(190.83deg, #0E1039 64.37%, #1A9BD2 138%);
  }
  
  .projects .heading {
    /* color: var(--white); */
  }
  
  .projects .box-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(19rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
    gap: 2rem;
  }
  
  .projects .box-container .box {
    cursor: initial;
  }
  
  .projects .box-container .box:hover .image img {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  
  .projects .box-container .box .image {
    height: 24rem;
    overflow: hidden;
  }
  
  .projects .box-container .box .image img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-transition: .2s linear;
    transition: .2s linear;
  }
  
  .projects .box-container .box .content {
    background: var(--white);
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  
  .projects .box-container .box .content .info {
    padding: 1rem 2rem;
  }
  
  .projects .box-container .box .content .info h3 {
    font-size: 1.7rem;
    color: var(--black);
    text-transform: capitalize;
  }
  
  .projects .box-container .box .content .info p {
    font-size: 1.5rem;
    color: var(--light-color);
    line-height: 2;
  }
  
  .projects .box-container .box .content i {
    width: 7.5rem;
    font-size: 3rem;
    background: var(--yellow);
    color: var(--white);
    cursor: pointer;
    text-align: center;
    line-height: 7.5rem;
  }
  
  .content{
    color: #fff;

  }

  .info__h3{
    margin-bottom: 30px;
    text-align: center;

  }

  .heading{
    text-align: center;
    font-size: 38px;
    font-weight: 700;
    line-height: 137%;
    letter-spacing: 0.2px;
    margin-bottom: 25px;
    color: #fff;
    text-shadow: #6bb7ff 1px 0 10px;
    font-family: 'DemiBold', sans-serif;
}


.main-block__buttons {
	display: flex;
	flex-wrap: wrap;
    z-index: 5;
    /* margin-right: auto; */
    position: relative;
}

.butonss{
    text-decoration: none;
    cursor: pointer;
    display: block;
    width: 210px;
    padding: 12px 30px;
    margin: 10px auto 10px auto;
    position: relative;
    overflow: hidden;
    border: 2px solid #03f9ff;
    border-radius: 38px;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    transition: .2s ease-in-out;
    font-size: 14px;
    font-weight: 500;
    background-color:#1d173b;
    box-shadow: 0px 2px 20px 0px #6bb7ff;
}
.butonss:before {
    content: "";
    background: linear-gradient(90deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .5));
    height: 50px;
    width: 50px;
    position: absolute;
    top: -8px;
    left: -75px;
    transform: skewX(-45deg);
  }
  .butonss:hover {
    background: #fff;
    color: #000;
  }
  .butonss:hover:before {
    left: 150px;
    transition: .5s ease-in-out;
  }

  @media (max-width: 940px) {
    .butonss{
        width: 180px;
        padding: 10px 20px;
    }
}

@media (max-width: 490px) {
    .butonss{
        width: 190px;
        padding: 10px 20px;
        margin: 10px auto 30px auto;
    }
}

/* -----------Benefits------------------- */

.benefits {
    background: #eee;
    padding-top: 85px;
}

.benefits__container{
    position: relative;
}

.benefits-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-around;
}

@media (max-width: 767px){
    .benefits-wrapper {
        
        justify-content: space-around; 
    }
}



.benefits-item {
    width: 385px;
    height: auto;
    margin-bottom: 61px;
    margin-right: 15px;
    cursor: pointer;
}




.benefits-item-clip {
    position: relative;
    background: #fff;
    padding-top: 55px;
    padding-bottom: 40px;
    overflow: hidden;
    transition: transform .5s;
    border-radius: 38px;
}

.benefits-item-clip:hover{
    transform: translateY(-7px);
}

@media (max-width: 500px){
    .benefits-item-clip {
        padding-top: 25px;
        padding-bottom: 10px;
        font-size: 16px;
    }
}

.benefits-item-clip::before {
    position: absolute;
    content: '';
    background: #0f113b;
    width: 53px;
    right: 0;
    bottom: 0;
    top: 0;
}

.decor-block {
    position: absolute;
    left: 29px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}


.benefits-item-count {
    font-weight: 300;
    font-size: 52px;
    line-height: 30px;
    color: #eca805;
    position: absolute;
    right: 14px;
    top: 18px;
    text-shadow: #ffee02 1px 0 10px;
}

.benefits-item-text {
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 143%;
    color: #000;
    padding-left: 10px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    padding-right: 53px;
}


.benefits__title{
    font-weight: 700;
    font-size: 2.8rem;
    line-height: 143%;
    color: #000;

}

.benefits__p{
    margin-top: 0;
    margin-bottom: 1rem;
}


.benefits__title{
    font-weight: 700;
    font-size: 1.8rem;
    letter-spacing: 143%;
    color: #000;

}

.benefits__title__around{
    text-align: center;
    font-size: 38px;
    font-weight: 700;
    line-height: 137%;
    letter-spacing: 0.2px;
    margin-bottom: 25px;
    color: #0f113b;
    /* text-shadow: #6bb7ff 1px 0 10px; */
    font-family: 'DemiBold', sans-serif;
}


@media (max-width: 500px){
    .benefits__title__around{
        font-size: 2.3rem;
    }
    .benefits__title__around{
        margin-bottom: 10px;
    }

    .benefits-item {
        margin-bottom: 20px;
    }
    .benefits {
        padding-top: 35px;
    }
}


/* ------PR------------------------ */

.primer{
    background-color: #0e1039;
	background: linear-gradient(190.83deg, #0E1039 64.37%, #1A9BD2 138%);
    padding-bottom: 50px;
}

.buttons__slider__2{
    text-decoration: none;
    cursor: pointer;
    display: block;
    width: 390px;
    padding: 12px 30px;
    margin: 30px auto 0px auto;
    position: relative;
    overflow: hidden;
    border: 2px solid #03f9ff;
    border-radius: 38px;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    transition: .2s ease-in-out;
    font-size: 18px;
    font-weight: 500;
    background-color: #1d173b;
    box-shadow: 0px 2px 20px 0px #6bb7ff;
}

@media (max-width:500px){
    .buttons__slider__2{
        width: 300px;
        font-size: 13px;
    }
}
/* -----Slider__2--------------------- */


.slid{
    background-color: #0e1039;
}

/* @media (max-width:767px){
	.wrapper{padding: 50px 10px;}
} */

/* Основные стили */

/* Слайдер */
.slick-slider{
	min-width: 0;
}
/* Ограничивающая оболочка */
.slick-list {
	overflow: hidden;
}
/* Лента слайдов */
.slick-track{
	display: flex;
	align-items: flex-start;

    align-items: center;
}



/* Конкретный слайдер */
.slider__2 {
	position: relative;
	padding: 55px 60px;
}

@media (max-width:767px){
	.slider__2 {
		padding: 30px 40px;
	}
}

.slider__2 .slick-arrow{
	position: absolute;
	top: 50%;
	margin: -30px 0px 0px 0px;
	z-index: 10;
	font-size: 0;
	width: 30px;
	height: 60px;
}
.slider__2 .slick-arrow.slick-prev{
	left: 0;
	background: url('../img/slider/sl-arrow_l.svg') 0 0 / 100% no-repeat;
}
.slider__2 .slick-arrow.slick-next{
	right: 0;
	background: url('../img/slider/sl-arrow_r.svg') 0 0 / 100% no-repeat;
}
.slider__2 .slick-arrow.slick-disabled{
	opacity: 0.2;
}

.slider__2 .slick-dots{
	display: flex;
	align-items: center;
	justify-content: center;
}
.slider__2 .slick-dots li{
	list-style: none;
	margin: 0px 10px;
}
.slider__2 .slick-dots button{
	font-size: 0;
	width: 10px;
	height: 10px;
	background-color: #fff;
	border-radius: 50%;
}

.slider__2 .slick-dots li.slick-active button{
	background-color: transparent;
	border: 1px solid #fff;
}

.slider__item__2 {
	padding: 0px 15px;
}
.slider__item__2 img{
	max-width: 100%;
    
}
.slider__item__2.slick-center{
	
}


.title__slide{
	padding-top: 25px;
    margin-bottom: 5px;
	text-align: center;
	line-height: 137%;
	letter-spacing: 0.2px;
	font-weight: 700;
    color: #fff;
    font-size: 2.3rem;
    text-shadow: #6bb7ff 1px 0 10px;
}

@media (max-width:500px){
	.title__slide{
        margin-bottom: 25px;
        font-size: 1.7rem;
    }
}

/* ---------------Slider__3 --------------------*/

.slider__3{

}

.slider__item__3{
    text-align: center;
}


.slider__item__3 img{
	max-width: 38%;
}

/* ------------Social-Proof-------------- */
.review{
    padding-bottom: 30px;

}
  
  .ecol {
    text-align: center;
    font-size: 30px;
    margin: 50px;
    text-align: center;
    font-size: 52px;
    line-height: 137%;
    letter-spacing: 0.2px;
    font-weight: 700;
  }




  @media (max-width: 500px){
    .ecol {
        font-size: 34px;
      }
   
}
  .testimonial-row {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  .testimonial-col {
    flex: 1 1 33.3%;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 5px;
    -webkit-box-shadow: 0 10px 20px 3px #00968814;
            box-shadow: 0 10px 20px 3px #00968814;
  }


  @media (max-width:767px){
	.testimonial-col {
		flex: 1 0 40%;
	}
}

@media (max-width:500px){
	.testimonial-col {
		flex: 1 0 80%;
	}
}
  
  .testimonial-col p {
    font-size: 18px;
  }
  
  .user {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 20px 0;
    /* font-family: Georgia, "Times New Roman", Times, serif; */
  }
  
  .user img {
    width: 55px;
  }
  
  .user-info .fa {
    margin-left: 10px;
    color: #27c0ff;
    font-size: 20px;
  }
  
  .user-info small {
    color: #009688;
  }

  
  .otzyv {
    background-color: #27c0ff;
    color: #000;
    width: 300px;
    height: 100px;
    border-radius: 35px;
    margin: auto;
  }

  .spisok__li{
    background: url(../img/main/checkmark_120290.png) 0 1px no-repeat;
    font-size: 18px;
    font-weight: 400;
    margin: 0px 0px 15px 0px;
    padding: 0px 0px 0px 36px;
    line-height: 22px;
}

/* ------------Footer------------------- */
.footer {

    padding: 3rem 5%;

background: linear-gradient(93.58deg,#2853ec,#0f103a);
}
.footer__container {
}
.footer__title {
}
.footer__row {
display: flex;
flex-wrap: wrap;
gap: 2rem;
}
@media (max-width:830px){
	.footer__row {
        flex-wrap: wrap-reverse;
        }
}
  
.footer__map {

}

.footer__form {
-webkit-box-flex: 1;
  -ms-flex: 1 1 41rem;
      flex: 1 1 41rem;
background: #fff;
padding: 1rem;
}

@media screen and (max-width: 770px){
    .footer-left, .footer-right{
        flex-basis: 100%;
        font-size: 14px;
    }
    .footer-img{
        top: 25%;
    }
}


.footer__title{
    margin-bottom: 15px;
	text-align: left;
	font-size: 34px;
	line-height: 137%;
	letter-spacing: 0.2px;
	font-weight: 700;
    color: #0e1039;
    text-shadow: #6bb7ff 1px 0 10px;
}
.footer__subtitle{
    font-size: 30px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: left;
    line-height: 142%;
}

.footer__title-text{
    margin: 0 auto;
}

.footer__title__left{
    text-align: left;
    font-size: 30px;
    font-weight: 700;
    margin: 0 0 25px 5px;

}

.boxxx {
    margin: .7rem 0;
    width: 100%;
    padding: 1.5rem 0;
    border-bottom: 1px solid;
    font-size: 1.1rem;
    color: var(--light-color);
}
.btn {
}

@media screen and (max-width: 500px){
    .footer__title{
        font-size: 38px;
        margin-top: 20px;
    }

    .footer__subtitle{
        font-size: 22px;
    }
}


/* ------------------------------------------ */

#footer{
    padding: 40px 0 20px;
    background: #efefef;
    position: relative;

    
}

.footer__images{
    opacity: 0.7;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}


.footer__wrapper{
    margin: 10px 50px 20px 70px;
	padding: 10px 20px 30px 10px;
	max-width: 600px;
	max-height: 600px;
	background-color: #fff;
    z-index: 2;
    position: relative;
	border-radius: 18px;
}
@media screen and (max-width: 500px){
    
    .footer__wrapper{
        margin: 10px 10px 20px 10px;
    }
}


.footer__title{
    margin-top: 20px;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
}


@media screen and (max-width: 500px){
    .footer__title{
        font-size: 25px;
    }
}


.footer-row{
    width: 100%;
    margin: 0 auto;
}
.footer-left, .footer-right{
    padding: 10px 10px 0px 0px;
    /* margin-bottom: 20px; */
}

.footer-right{
    text-align: right;
}
.footer-row h1{
    margin: 10px 0;
}
.footer-row p{
    line-height: 35px;
    font-size: 20px;
}

@media screen and (max-width: 500px){
    .footer-row p{
        font-size: 18px;
    }
}


.footer-right .fa,.footer-left .fa{
     font-size: 20px;
     color: #000;
     margin: 10px;
}

.footer-img{
    max-width: 370px;
    opacity: 0.1;
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%,-50%);
}


.social-links{
    text-align: left;
}
.social-links .fa{
    border-radius: 20px;
    height: 40px;
    width: 40px;
    font-size: 20px;
    line-height: 40px;
    border: 1px solid #000;
    margin: 20px 5px 0 10px;
    color: #000;
    cursor: pointer;
    transition: .5s;
    text-align:center;
}

.social-links .fa:hover{
    background: #000;
    color: #fff;
    transform: translateY(-7px);
}

.social-links p{
    font-size: 12px;
    margin-top: 20px;
}


@media screen and (max-width: 770px){
    .footer-left, .footer-right{
        flex-basis: 100%;
        font-size: 14px;
    }
    .footer-img{
        top: 25%;
    }
} 

/* ---------------------------------------------------------- */

.pop__form{
    display: none;
}

@media screen and (max-width: 900px){
    .pop__form{
        display: none;
        margin-top: 15px;
    }
} 



    /* ------------------------------------ */

    .feature__title{
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 20px;

    }


    /* ---------------------------- */
    .why__flex{
        display: flex;
    }



    .link__otzyv{
        margin: auto;
    }




    /* ----------------------------------- */
    .footer_img{
        max-width: 100%;
    }

    /*-------------------- Errore 404-------------------------- */

    .error404{
        font-size: 50px;
        font-weight: 700;
        color: rgb(0, 0, 0);
    }

/* ---------------------------------------------------- */

.input__box:focus{
    outline: none;
	box-shadow: 0 0 15px #22262D;
}
.input__box:invalid{
    box-shadow: 0 0 15px #da110a;
}
.input__box:valid{
    box-shadow: 0 0 15px #27e50a;
}

.input__box:not(:focus):invalid {
    box-shadow: 0 0 15px #22262D;
}



/* ---------------------------------------- */


.madal{
    margin: 15px auto;
}

/* ------------------------------------ */



.plan .box-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    gap: 1.5rem;
  }
  
  .plan .box-container .box {
    position: relative;
    padding: 2rem;
    border-radius: .5rem;
    position: relative;
    margin-bottom: 2rem;
    background: #eee;
  }
  
  .plan .box-container .box .btn {
    position: absolute;
    bottom: -2rem;
    right: 2rem;
    background: #fff;
  }
  
  .plan .box-container .box .title {
    text-align: center;
    color: #000;
    font-size: 2rem;
  }
  
  .plan .box-container .box .day {
    text-align: center;
    color: #130f40;
    font-size: 2.5rem;
  }
  
  .plan .box-container .box .icon {
    color: #130f40;
    font-size: 5rem;
    padding: 2rem 0;
  }
  
  .plan .box-container .box .list {
    margin: 1rem 0;
  }
  
  .plan .box-container .box .list p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 1.4rem;
    color: #666;
    padding: 1rem 0;
  }
  
  .plan .box-container .box .list p span {
    color: #130f40;
  }
  
  .plan .box-container .box .amount {
    font-size: 5rem;
    font-weight: bolder;
    color: #130f40;
  }
  
  .plan .box-container .box .amount span {
    font-size: 3rem;
  }

  .plan{
    padding-top: 35px;
    padding-bottom: 35px;
    background: linear-gradient(190.83deg, #0e1039 64.37%, #1A9BD2 138%);
  }

  /* ----------------Tel__link--------------------------------------------- */

  .tel__link{
    color: #000;

  }

  /* -------------------------------------------------------------------------- */

  .pop_up {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 3;
    transform: translateY(-44.5%) scale(0);
    transition: 0.4s ease-in-out;
}

.pop_up.active {
    transform: translateY(0%) scale(100%);
    background-color: rgba(0, 0, 0, 0.8);
   
}


.pop_up_container {
    display: flex;
    width: 100%;
    height: 100%;
}
.pop_up_body {
    margin: auto;
    width: 500px;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    padding: 100px 15px 110px 15px;
    position: relative;

}

.pop_up_body p{
    font-size: 28px;
    font-family: serif;
    font-weight: 600;
    color: #22262D;
    margin-bottom: 40px;
}
.pop_up_body input{
    box-shadow: 0 0 15px #22262d;
    display: block;
    margin: 25px auto 0px auto;
    width: 330px;
    padding: 17px 20px;
    background-color: #E5E5E5;
    border-radius: 10px;
    border: none;
    font-family: serif;
    font-weight: 500;
    font-size: 18px;
    color: #89909F;
}
.pop_up_body button{
    text-decoration: none;
    cursor: pointer;
    display: block;
    width: 270px;
	min-height: 50px;
    padding: 10px 30px;
    margin: 55px auto 10px auto;
    position: relative;
    overflow: hidden;
    border: 2px solid #ffeb3b;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    transition: .2s ease-in-out;
    font-size: 14px;
    font-weight: 700;
}

.pop_up_body button:before {
    content: "";
    background: linear-gradient(90deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .5));
    height: 50px;
    width: 50px;
    position: absolute;
    top: -8px;
    left: -75px;
    transform: skewX(-45deg);
  }
  .pop_up_body button:hover {
    background: #ffeb3b;
    color: #000;
  }
  .pop_up_body button:hover:before {
    left: 150px;
    transition: .5s ease-in-out;
  }
.pop_up_close{
    position: absolute;
    top: 40px;
    right: 30px;
    font-size: 21px;
    cursor: pointer;
}

.pop_up_body textarea{
    display: block;
    margin: 25px auto 0px auto;
    width: 330px;
    padding: 17px 20px;
    background-color: #E5E5E5;
    border-radius: 10px;
    border: none;
    font-family: serif;
    font-weight: 500;
    font-size: 18px;
    color: #89909F;
}
@media screen and (max-width: 770px){
    .pop_up_body{
            margin: auto;
            width: 300px;
            background-color: #fff;
            border-radius: 10px;
            text-align: center;
            padding: 80px 15px 80px 15px;
            position: relative;
    }
    .pop_up_body input{
        box-shadow: 0 0 15px #22262d;
        display: block;
        margin: 25px auto 0px auto;
        width: 250px;
        padding: 10px 10px;
        background-color: #E5E5E5;
        border-radius: 10px;
        border: none;
        font-family: serif;
        font-weight: 200;
        font-size: 14px;
        color: #89909F;
    }
    .pop_up_body input:focus{
        outline: none;
    }


	.pop_up_body textarea{
		display: block;
		margin: 25px auto 0px auto;
		width: 250px;
		padding: 17px 20px;
		background-color: #E5E5E5;
		border-radius: 10px;
		border: none;
		font-family: serif;
		font-weight: 500;
		font-size: 18px;
		color: #89909F;
	}
    
    .pop_up_body button{
        cursor: pointer;
        display: block;
        width: 250px;
        margin: 60px auto 0px auto;
        padding: 20px 0px;
        font-family: serif;
        font-weight: 700;
        font-size: 16px;
        border: none;
        color: #000;
        border-radius: 10px;
        background-color: #ff0;
    }
    
    .pop_up_close{
        position: absolute;
        top: 15px;
        right: 15px;
        font-size: 21px;
        cursor: pointer;
    }
}

/* ---ШАПКА------------------------------------------------------------------------- */
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}

.header:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(14 16 57);
    z-index: 2;
}
.header__body {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 55px;
    align-items: center;
}

.header__logo {
    background-color: #000;
    position: relative;
    z-index: 3;
	font-size: 18px;
	font-weight: 700;
	color: #ff0;
}
.header__logo img{
    max-width: 50px;
    display: block;
}
.header__burger {
    display: none;
}
.header__menu {
    margin:auto;
}
.menu__list {
    display: flex;
    position: relative;
    z-index: 2;
}
.menu__list li{
    list-style: none;
    margin: 0px 5px 0px 5px;
}
.menu__link {
    color: #fff;
    text-shadow: #6bb7ff 1px 0 10px;
    text-transform: uppercase;
    font-size: 13px;
    text-decoration: none;
    font-weight: 700;
}



@media (max-width:960px){
    .menu__list li{
        margin: 0px 0px 0px 5px;
    }
    .menu__link {
        font-size: 10px;
        font-weight: 700;
    }
    .header__logo {
        margin-right: 10px;
        font-size: 16px;
        font-weight: 700;
    }
}
@media (max-width:490px){
   
    .header__logo {
        margin-right: 3px;
        font-size: 8px;
    }
}

@media (max-width:795px){
      body.lock{
        overflow: hidden;
    }
    .header__body{
        height: 59px;
    }
    .header__logo{
        flex: 0 0 50px;
    }
    .header__burger {
        margin: 0px 0px 0px 12px;
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        position: relative;
        z-index: 3;
    }
    .header__burger span{
        position: absolute;
        background-color: #000;
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease 0s;
    }
    .header__burger:before,
    .header__burger:after{
        content: '';
        background-color: #000;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
    }
    .header__burger:before{
        top: 0;
    }
    .header__burger:after{
        bottom: 0;
    }

    .header__burger.active span{
       transform: scale(0);
    }
    .header__burger.active:before{
        transform: rotate(45deg);
        top: 9px;
    }
    .header__burger.active:after{
        transform: rotate(-45deg);
        bottom: 9px;
    }
    .header__menu {
     position: fixed;
     top: -100%;
     left: 0;
     width: 100%;
     height: 100%;
     overflow: auto;
     transition: all 0.3s ease 0s;
     background-color: #c2c6c2;
     padding: 70px 10px 20px 10px;
    }

    .header__menu.active{
        top: 0;
    }
    .menu__list{
        display: block;
    }
    .menu__list li{
        margin: 0px 0px 35px 0px;
    }
    .menu__link {
        font-size: 24px;
    }
}
@media (max-width:490px){
    body.lock{
        overflow: hidden;
    }
    .header__body{
        height: 50px;
    }
    .header__logo{
        flex: 0 0 30px;
    }
    .header__burger {
        margin: 0px 0px 0px 5px;
    }
}

.header__gadjet{
    display: flex;
    flex-wrap: wrap;
    z-index: 5;
    /* margin-right: auto; */
    position: relative;
    align-items: center;
    margin-left: auto;
}

@media (max-width:795px){
    .header__gadjet{
        display: none;
    }
}



.header__tele{
    align-items: center;
}


.link__tel{
    color: #fff;
    text-shadow: #6bb7ff 1px 0 10px;
    font-size: 16px;
    font-weight: 700;
    margin: 0 10px;  
}


svg {
    width: 30px;
    height: 30px;
    color: #fff;
    text-shadow: #6bb7ff 1px 0 10px;
}


@media (max-width:950px){
    .link__tel{
        color: #000;
        font-size: 12px;
        font-weight: 700;
        margin: 0 0px;   
    }

}

.header__social{
    margin: 0 5px;
}



.burger__phone{
    display: none;
}

.burger__mail{
    display: none;
}


.header__logo__alf{
    color: #fff;
    text-shadow: #6bb7ff 1px 0 10px;
    font-size: 15px;
    font-weight: 700;
    z-index: 3;
    margin-right: 125px;
}
@media (max-width:930px){
    .header__logo__alf{
        font-size: 13px;
    }
}
@media (max-width:490px){
    .header__logo__alf{
        font-size: 11px;
    }
}






@media (max-width:795px){
    .burger__phone{
        display: block;
        z-index: 2;
        margin-top: 110px;
    }
    .burger__phone__link{
        color: #000;
        font-size: 24px;
    }
    .burger__phone {
        align-items: center;
        display: flex;
        z-index: 5;
    }
    .burger__tele {
        margin: 0 10px;
    }
    .burger__phone__link {
    }
    .burger__social {
        margin: 0 5px;
    }
    .burger__mail{
        display: block;
        margin: 40px 10px;
        font-size: 24px;
        font-weight: 700;
        text-decoration: underline yellow;
    }
    .burger__mail__link{
     color: #000;
     text-decoration: underline yellow;
    }
}
